data/TRACEXML_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Steria Benelux sa/nv (Steria Benelux sa/nv) -->
<xsd:schema xmlns="urn:oecd:ties:trace:v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oecd:ties:trace:v1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="isotypes_v2.1.xsd"/>
	<xsd:include schemaLocation="oecdtypes_v2.xsd"/>
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++ Reusable Simpel types++++++++++++++++++++++++++++++++++++++ -->
	<!-- International Bank Account Number -->
	<xsd:simpleType name="IBAN_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
The International Bank Account Number has to be given here for the account into which the payment in question
has been made. Depending on the transmission typFe this element is optional. Its structure is:
Country code, 2 letters/Check digits, 2 digits/Basic Bank Account Number (BBAN), 10 to 30 alphanumeric characters
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}[0-9]{2}[0-9,A-Z]{10,30}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- International Securities Identification Number -->
	<xsd:simpleType name="ISIN_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
The International Securities Identification Number relevant to the reported payment. Its structure is:
Country code, 2 letters/Main code, 9 alphanumeric characters/Check digit, 1 digit
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}[0-9,A-Z]{9}[0-9]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Swift registration number-->
	<xsd:simpleType name="SWIFT_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Registration Authority for the Bank Identifier Code:
Bank code, 4 alphanumeric characters/Country code, 2 letters/Location code, 2 alphanumeric characters /Branch
code, 3 alphanumeric characters, optional
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9,A-Z]{4}[A-Z]{2}[0-9,A-Z]{2}([0-9,A-Z]{3})?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Data type for tax rates -->
	<xsd:simpleType name="TaxRate_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Data type for tax rates. Tax rates have to be entered as decimal numbers with a total of four digits, two before and
two after the decimal point.
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="4"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- A list of entries to mark the tax years relevant to the document (part). The years are in the form of dates denoting the
last day of the tax year in the respective country -->
	<xsd:simpleType name="TaxYearList_Type">
		<xsd:annotation>
			<xsd:documentation>A list of entries to mark the tax years relevant to the document (part). The years are in the form of dates denoting the last day of the tax year in the respective country</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="xsd:date"/>
	</xsd:simpleType>
	<!-- -->
	<!-- Data type for any kind of numeric data with two decimal fraction digits, especially monetary amounts -->
	<xsd:simpleType name="TwoDigFract_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Data type for any kind of numeric data with two decimal fraction digits, especially monetary amounts
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++ Reusable Complex types +++++++++++++++++++++++++++++++++++++ -->
	<!--Account  information-->
	<xsd:complexType name="Acct_Type">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="HolderName" type="xsd:string"/>
				<xsd:choice>
					<xsd:element name="Individual" type="PersonParty_Type"/>
					<xsd:element name="Organisation" type="OrganisationParty_Type"/>
				</xsd:choice>
			</xsd:choice>
			<xsd:element name="Bank" type="OrganisationParty_Type" minOccurs="0"/>
			<xsd:element name="Info" type="AcctInfo_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Description of an Account -->
	<xsd:complexType name="AcctInfo_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
It may be desirable or even necessary to extend the information about a payment by including information about
the account that was used for the payment and/or the security to which the payment relates. One or more such entries can be
given in an element of this type. The element itself is optional unless stated otherwise for a particular document type, if it is
present, however, it must not be empty.
9
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:choice>
				<xsd:element name="IBAN" type="IBAN_Type"/>
				<xsd:element name="OBAN" type="OBAN_Type"/>
				<xsd:element name="ISIN" type="ISIN_Type"/>
				<xsd:element name="OSIN" type="OSIN_Type"/>
				<xsd:element name="SWIFT" type="SWIFT_Type"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- The Address of a Party, given in fixed Form-->
	<xsd:complexType name="Address2_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
The user must add the address in a fix format using the 'AddressFix' format. 
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="legalAddressType2" type="OECDLegalAddressType_EnumType" minOccurs="0"/>
			<xsd:element name="CountryCode" type="CountryCode_Type"/>
			<xsd:element name="Street" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BuildingIdentifier" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HouseNumber</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SuiteIdentifier" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FloorIdentifier" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DistrictName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POB" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="CountrySubentity" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Document specification: Data identifying and describing the document -->
	<xsd:complexType name="DocSpec_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Document specification: Data identifying and describing the document, where
'document' here means the part of a message that is to transmit the data about a single block of TRACE information. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DocTypeIndic2" type="OECDDocTypeIndic_EnumType"/>
			<xsd:element name="DocRefId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Sender's unique identifier of this document </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorrMessageRefId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Reference id of the message of the document referred to if this is
repetition</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorrDocRefId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Reference id of the document referred to if this is repetition, correction or deletion</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Incomple dates -->
	<xsd:complexType name="IncompleteDate_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specific date type that can hold an incomplete date's in twodifferent formats (year-month, year only).  </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="YearMonth" type="xsd:gYearMonth"/>
			<xsd:element name="Year" type="xsd:gYear"/>
		</xsd:choice>
	</xsd:complexType>
	<!-- -->
	<!-- Message specification: Data identifying and describing the message as a whole -->
	<xsd:complexType name="MessageSpec2_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Message specification: Data identifying and describing the message as a
whole. 'SendingCountry' and 'ReceivingCountry' are to identify the relation of the transmission, so that this is visible
independently of the transmission context inside and at the very top of the message. The elements are optional as in the SMF
record there are no fields exactly corresponding; it is, however, strongly recommended to use these fields as intended. Message and the valid time are indications of the message type.
'Warning' is for legal constraints: Free text expressing the restrictions for use of the information this message contains and the
legal framework under which it is given. 'Contact' should contain all necessary contact information about persons responsible
for and involved in the processing of the data transmitted in this message, both legally and technically. This is free text as it is
not intended for automatic processing. 'MessageRefId' is a unique identifier that the sender has to attribute to this message
and shall be used in any correspondence. CorrMessageRefId defines the corrected (replaced) MessageIDs. 'TaxYearList' is a list of all tax years for which information is transmitted in the
documents of the current message. To indicate a tax year, the date of the last day of that year is given. Format for dates is
ccyy-mm-dd. List items have to be separated by blanks.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SendingCountry" type="CountryCode_Type" minOccurs="0"/>
			<xsd:element name="ReceivingCountry" type="CountryCode_Type" minOccurs="0"/>
			<xsd:element name="MessageType" type="xsd:string" fixed="TRACE"/>
			<xsd:element name="Warning" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Free text expressing the restrictions for use of the information this
message contains and the legal framework under which it is given</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Contact" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">All necessary contact information about persons responsible for and
involved in the processing of the data transmitted in this message, both legally and technically. Free text as this is not
intended for automatic processing. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MessageRefId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Sender's unique identifier for this message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorrMessageRefId" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Sender's unique identifier that has to be corrected.  Must point to 1 or more previous message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TaxYearList" type="TaxYearList_Type">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A list of all tax years for which information is transmitted in documents of
the current message. To indicate a tax year, the date of the last day of that year is given.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- General Type for Monetary Amounts -->
	<xsd:complexType name="MonAmnt_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This data type is to be used whenever monetary amounts are to be communicated. Such amounts shall be given
including two fractional digits of the main currency unit. The code for the currency in which the value is expressed has to be
taken from the ISO codelist 4217 and added in attribute currCode.
</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="TwoDigFract_Type">
				<xsd:attribute name="currCode" type="currCode_Type" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--  -->
	<!-- Structure of the Name of a Party broken down into its logical Parts -->
	<xsd:complexType name="NameOrganisation_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
The user must spread the data about the name of a party over up to six elements. The container element for this will be 'NameFix'. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NameType2" type="OECDNameType_EnumType" minOccurs="0"/>
			<xsd:element name="Name">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string"/>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- The Name of a Party, given in fixed Form-->
	<xsd:complexType name="NameIndividual_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The user must spread the data about the name of a party over up to six elements. The container element for this will be 'NameFix'. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NameType2" type="OECDNameType_EnumType" minOccurs="0"/>
			<xsd:element name="PrecedingTitle" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>His Excellency,Estate of the Late ...</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Title" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Greeting title. Example: Mr, Dr, Ms, Herr, etc. Can have multiple titles.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FirstName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Represents the position of the name in a name string. Can be Given Name, Forename, Christian Name, Surname, Family Name, etc. Use the attribute "xnlNameType" to define what type this name is.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="xnlNameType">
								<xsd:annotation>
									<xsd:documentation>Defines the name type of FirstName. Example: Given Name, Forename, Christian Name, Father's Name, etc. In some countries, FirstName could be a Family Name or a SurName. Use this attribute to define the type for this name.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MiddleName" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Middle name (essential part of the name for many nationalities). Represents the position of the name in the name string. Example: Sakthi in "Nivetha Sakthi Shantha". Can have multiple middle names.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="xnlNameType">
								<xsd:annotation>
									<xsd:documentation>Defines the name type of Middle Name. Example: First name, middle name, maiden name, father's name, given name, etc.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamePrefix" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>de, van, van de, von, etc. Example: Derick de Clarke</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="xnlNameType">
								<xsd:annotation>
									<xsd:documentation>Defines the type of name associated with the NamePrefix. For example the type of name is LastName and this prefix is the prefix for this last name.
							</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LastName">
				<xsd:annotation>
					<xsd:documentation>Represents the position of the name in a name string. Can be Given Name, Forename, Christian Name, Surname, Family Name, etc. Use the attribute "NameType" to define what type this name is.
In case of a company, this field can be used for the company name.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="xnlNameType">
								<xsd:annotation>
									<xsd:documentation>Defines the name type of LastName. Example: Father's name, Family name, Sur Name, Mother's Name, etc. In some countries, LastName could be the given name or first name.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GenerationIdentifier" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Jnr, Thr Third, III</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Suffix" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Could be compressed initials - PhD, VC, QC</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GeneralSuffix" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Deceased, Retired ...</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Identifier for a Party -->
	<xsd:complexType name="TIN_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This is the identification number/identification code for the party in question. As the identifier may be not strictly numeric, it is just defined as a string of characters. Attribute 'issuedBy' is required to designate the issuer of the identifier. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="issuedBy" type="CountryCode_Type" use="required">
					<xsd:annotation>
						<xsd:documentation>Country code of issuing country, indicating country of Residence (to taxes and other)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- -->
	<!-- Other Bank Account Number: A Bank Account Number other than the standard IBAN, the attribute to indicate the
kind of such number -->
	<xsd:complexType name="OBAN_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Other Bank Account Number: A bank account number other than the standard IBAN, the attribute 'acctNoQlf' has
to be used to indicate the kind of such number.
</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="acctNoQlf" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- -->
	<!-- Collection of all Data describing an organisationy  as party-->
	<xsd:complexType name="OrganisationParty_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This container brings together all data about an organisation as a party. Name and address are required components and each can
be present more than once to enable as complete a description as possible. Whenever possible one or more identifiers (TIN
etc) should be added as well as a residence country code. Additional data that describes and identifies the party can be
given . The code for the legal type according to the OECD codelist must be added. The structures of
all of the subelements are defined elsewhere in this schema.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:choice>
						<xsd:annotation>
							<xsd:documentation>Also Valid for Foundation Date</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="FoundDate" type="xsd:date"/>
						<xsd:element name="FoundDate2" type="IncompleteDate_Type"/>
					</xsd:choice>
					<xsd:element name="TIN" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Additional TIN number</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:restriction base="TIN_Type">
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="TIN_M" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Mandatory TIN Number</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:restriction base="TIN_Type">
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="CountryWithoutTin" type="CountryCode_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Name" type="NameOrganisation_Type" maxOccurs="unbounded"/>
			<xsd:element name="Address" type="Address2_Type" maxOccurs="unbounded"/>
			<xsd:element name="FoundationPlace" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Country" minOccurs="0">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="Code" type="CountryCode_Type"/>
									<xsd:element name="Name" type="xsd:string"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Place" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PostCode" minOccurs="0"/>
									<xsd:element name="Name"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OtherPersData" type="OtherInfo2_Type" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="oecdLegalType2" type="OECDLegalType_EnumType" use="required"/>
	</xsd:complexType>
	<!-- -->
	<!-- Other Security Identification Number: A Security Identification Number other than the standard ISIN, the attribute to
indicate the kind of such number -->
	<xsd:complexType name="OSIN_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Other Security Identification Number: A security identification number other than the standard ISIN, the attribute
'secNoQlf' has to be used to indicate the kind of such number.
</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="secNoQlf" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- -->
	<!-- A "Filler" type to accommodate any additional information elements a sender might want to add in order to enhance
the value of the "standard" content -->
	<xsd:complexType name="OtherInfo2_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
OtherInfo2_Type is an element to accommodate any additional information that a sender might want to add in order to
enhance the value of the "standard" content. The sender has to make sure both by using adequate tag names and adding
corresponding content that the receiver is able to understand sender's intention. As the document is possibly processed automatically
there is no guarantee when or even that the content will be recognized by the receiver. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:any processContents="lax">
				<xsd:annotation>
					<xsd:documentation>Use of a good descripting tag and a corresponding content will explain the senders intention</xsd:documentation>
				</xsd:annotation>
			</xsd:any>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Collection of all Data describing a person as a  Party -->
	<xsd:complexType name="PersonParty_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This container brings together all data about a person as a party. Name and address are required components and each can
be present more than once to enable as complete a description as possible. Whenever possible one or more identifiers (TIN
etc) should be added as well as a residence country code. Additional data that describes and identifies the party can be
given. The code for the legal type according to the OECD codelist must be added. The structures of
all of the subelements are defined elsewhere in this schema.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="BirthDate" type="xsd:date"/>
					<xsd:element name="TIN" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Additional TIN Number</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:restriction base="TIN_Type">
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="TIN_M" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Mandatory TIN Number</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:restriction base="TIN_Type">
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="CountryWithoutTin" type="CountryCode_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Name" type="NameIndividual_Type" maxOccurs="unbounded"/>
			<xsd:element name="Address" type="Address2_Type" maxOccurs="unbounded"/>
			<xsd:element name="Gender2" type="OECDGender_EnumType" minOccurs="0"/>
			<xsd:element name="Nationality" type="CountryCode_Type" minOccurs="0"/>
			<xsd:element name="Birth" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="City" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CitySubentity" type="xsd:string" minOccurs="0"/>
						<xsd:element name="Country" minOccurs="0">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="Code" type="CountryCode_Type"/>
									<xsd:element name="Name" type="xsd:string"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OtherPersData" type="OtherInfo2_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--++++++++++++++++++++++++++++++++++++++++++++++++ Schema  Specific enumeration types +++++++++++++++++++++++++++ -->
	<!--Tracing Mathod definitions-->
	<xsd:simpleType name="TraceMethod_EnumType">
		<xsd:annotation>
			<xsd:documentation>Different types of Methods.
			TRACE1=Annual or Quarterly Determinations 
			TRACE2=Sales Restrictions/Investor Restriction 
			TRACE3=Sales Restrictions/Geographic Restriction 
			TRACE4=Sales Restrictions/Preferential Rate Restriction 
			TRACE5=Tracing
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TRACE1"/>
			<xsd:enumeration value="TRACE2"/>
			<xsd:enumeration value="TRACE3"/>
			<xsd:enumeration value="TRACE4"/>
			<xsd:enumeration value="TRACE5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!--Tracing Mathod definitions-->
	<xsd:simpleType name="TracePaymentType_EnumType">
		<xsd:annotation>
			<xsd:documentation>Type of covered Payments for a certain investor: 
			TRACE11=Covered Payments for which INCREASE Withholding is Required and for which Adjustment Has Not Been Made in Accordance with Section VI.A of the Procedures
			TRACE12=Covered Payments Entitled to REDUCED Withholding and for which Adjustment Has Not Been Made in Accordance with Section VI.A of the Procedures and for which Claim for Refund Has Not Been Made
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TRACE11"/>
			<xsd:enumeration value="TRACE12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!--++++++++++++++++++++++++++++++++++++++++++++++++ Schema  Specific Complex types +++++++++++++++++++++++++++ -->
	<!--Trace Year end report structure -->
	<xsd:complexType name="Trace_EndYear_Type">
		<xsd:sequence>
			<xsd:element name="DocSpec2" type="DocSpec_Type"/>
			<xsd:element name="AI" type="TraceAI_Type">
				<xsd:annotation>
					<xsd:documentation>Authorised Intermediary</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ACP">
				<xsd:annotation>
					<xsd:documentation>Information regarding Aggregate Covered Payments</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GACPPP" type="MonAmnt_Type">
							<xsd:annotation>
								<xsd:documentation>Gross Amount of Covered Payments for Which Tax Rate Information was Provided to Payors</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GARPRSC" type="MonAmnt_Type">
							<xsd:annotation>
								<xsd:documentation>Gross Amount of Reportable Payments paid to Residents of the Source Country</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GARPRE" type="MonAmnt_Type">
							<xsd:annotation>
								<xsd:documentation>Gross Amount of Reportable Payments for which a Reduction of or Exemption from Withholding was Claimed: </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GACPNRP" type="MonAmnt_Type">
							<xsd:annotation>
								<xsd:documentation>Gross Amount of Covered Payments that are not Reportable Payments</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TRPPAI" type="MonAmnt_Type">
							<xsd:annotation>
								<xsd:documentation>Total Reportable Payments Paid to other Authorised Intermediaries and Reported to Competent Authority</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TRPPI" type="MonAmnt_Type">
							<xsd:annotation>
								<xsd:documentation>Total Reportable Payments Paid to Investors that are not Authorised Intermediaries and Reported to Competent Authority</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ATWAI" type="MonAmnt_Type">
							<xsd:annotation>
								<xsd:documentation>Aggregate Tax Withheld by Authorised Intermediary as Reported to Competent Authority</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ATWWA" type="MonAmnt_Type" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Aggregate Tax Withheld by Withholding Agents, if different, as Reported to Competent Authority</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element name="NATP" type="MonAmnt_Type">
					<xsd:annotation>
						<xsd:documentation>Net Amount of Tax yo Be Paid</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Refund">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NATR" type="MonAmnt_Type">
								<xsd:annotation>
									<xsd:documentation>Net Amount Tax to be Refunded</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Account" type="Acct_Type"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="OtherInfo" type="OtherInfo2_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--Trace Year end report structure -->
	<xsd:complexType name="Trace_ToCover_EndYear_Type">
		<xsd:sequence>
			<xsd:element name="AI" type="TraceAI_Type">
				<xsd:annotation>
					<xsd:documentation>Authorised Intermediary</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Investor" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DocSpec2" type="DocSpec_Type"/>
						<xsd:choice>
							<xsd:element name="Individual" type="PersonParty_Type"/>
							<xsd:element name="Organisation" type="OrganisationParty_Type"/>
						</xsd:choice>
						<xsd:element name="Payment" type="TracePaymentEndYear_Type" maxOccurs="unbounded"/>
						<xsd:element name="Total">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Type" type="TracePaymentType_EnumType">
										<xsd:annotation>
											<xsd:documentation>The type of covered payment: Increase or Refund</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="TA" type="MonAmnt_Type">
										<xsd:annotation>
											<xsd:documentation>Total Amount of Tax To Be Paid or refunded</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OtherInfo" type="OtherInfo2_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--Trace payment informations-->
	<xsd:complexType name="Trace_Type">
		<xsd:sequence>
			<xsd:element name="AI" type="TraceAI_Type">
				<xsd:annotation>
					<xsd:documentation>SendingAuthorised Intermediary</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:sequence>
				<xsd:element name="Investors">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CI" type="OrganisationParty_Type" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>List of Contractual Intermediary</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Payee" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DocSpec" type="DocSpec_Type"/>
										<xsd:choice>
											<xsd:element name="Indiv" type="PersonParty_Type"/>
											<xsd:element name="Organisation" type="OrganisationParty_Type"/>
										</xsd:choice>
										<xsd:element name="Payment" type="TracePaymentInvest_Type" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OAIS" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Other AI reporting</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DocSpec" type="DocSpec_Type"/>
							<xsd:element name="OAI" type="TraceAI_Type"/>
							<xsd:element name="Payment" type="TracePaymentBasic_Type" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--Trace Payment structure-->
	<xsd:complexType name="TracePaymentBasic_Type">
		<xsd:sequence>
			<xsd:element name="Type" type="OECDPaymentType_EnumType">
				<xsd:annotation>
					<xsd:documentation>Type of payment (interest, Dividend,...)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TypeSourceCountry" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Information about the type the AI has to deliver to the source country.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AdditTypeInfo" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional specification</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PaymentDate" type="xsd:date"/>
			<xsd:element name="Issuer" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>issuer of Security</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="Security" type="ISIN_Type"/>
				<xsd:element name="Security2" type="OSIN_Type"/>
			</xsd:choice>
			<xsd:element name="GAP" type="MonAmnt_Type">
				<xsd:annotation>
					<xsd:documentation>Gros amount of payment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TRP" type="TaxRate_Type">
				<xsd:annotation>
					<xsd:documentation>Tax rate applied to payment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ATWAI" type="MonAmnt_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Amount Tax Withheld by Authorised Intermediary</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ATWWA" type="MonAmnt_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Amount Tax Withheld by Withholding Agent</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OtherInfo" type="OtherInfo2_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--Trace Payment structure-->
	<xsd:complexType name="TracePaymentInvest_Type">
		<xsd:sequence>
			<xsd:element name="Basic" type="TracePaymentBasic_Type">
				<xsd:annotation>
					<xsd:documentation>Basic type of payment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PPERRW" type="MonAmnt_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Proportion of Payment Entitled to Reduce Rate of Withholding</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Method" type="TraceMethod_EnumType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Method Used to Determine Proportion of Payment Entitled to Reduced Rate of Withholding</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--Trace Payment structure-->
	<xsd:complexType name="TracePaymentEndYear_Type">
		<xsd:sequence>
			<xsd:element name="Basic" type="TracePaymentBasic_Type">
				<xsd:annotation>
					<xsd:documentation>Basic payment data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="ATP" type="MonAmnt_Type">
						<xsd:annotation>
							<xsd:documentation>Amount of tax to be paid</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TRA" type="TaxRate_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tax Rate Applicable</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element name="ATR" type="MonAmnt_Type">
						<xsd:annotation>
							<xsd:documentation>Amount of Tax to be Refunded</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TRPE" type="TaxRate_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tax Rate for which Payment Eligible (Refund) </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--Trace AI structure -->
	<xsd:complexType name="TraceAI_Type">
		<xsd:sequence>
			<xsd:element name="AIIN" type="xsd:string"/>
			<xsd:element name="ID" type="OrganisationParty_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Schema  element ++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- STF_OECD File Message structure  -->
	<xsd:element name="TRACE_OECD">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageSpec" type="MessageSpec2_Type"/>
				<xsd:element name="Trace" type="Trace_Type" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="End_Info" type="Trace_ToCover_EndYear_Type" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="End_Year" type="Trace_EndYear_Type" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Version" type="xsd:string" fixed="1.0">
				<xsd:annotation>
					<xsd:documentation>TRACE Version </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!-- -->
</xsd:schema>
